.sidebar-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100svh - 17svh);
  max-width: 300px;
  background-color: white;
  margin: 2rem;
  box-shadow: 0 5px 10px rgba(203, 203, 203, 0.653);
}

.sidebar-item{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  font-weight: 600;
  padding: 30px 20px;
}

.sidebar-item:hover{
  background-color: rgb(255, 238, 238);
}

.sidebar-item img{
  width: 20px;
}

@media(max-width: 800px){

  .sidebar-container{
    flex-direction: row;
    width: 80%;
    max-width: none;
    height: auto;
    justify-content: center;
    margin: 1rem auto;
    padding: 0;
  }

}