.produits-herobanner-container{
    background-color: var(--Jaune-Orange);
}

.produits-herobanner-titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 3rem;
    line-height: 2;
    font-weight: 600;
}

.produits-herobanner-titre span {
    font-size: 6rem;
    color: white;
    font-weight: 700;
}

/*          FILTRE           */

.filtre-container{
    position: sticky;
    width: 15vw;
}

.filtre-wrapper{
    box-shadow: 3px 3px 10px rgba(155, 155, 155, 0.349);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0 2rem 2rem ;
}

.filtre-wrapper h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.filtre-wrapper legend{
    font-size: 1.5rem;
}

.filtre-wrapper label{
    font-size: 1.3rem;
}

.filtre-wrapper input{
    margin: 1rem 1rem 0 2rem;
}

.filtre-wrapper fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.produits-flex{
    display: flex;
}

.carte-produits-flex{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

.carte-produits-flex h2{
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
}

.accueil-partenaires-container{
    background-color: rgb(230, 230, 230);
}

@media(max-width: 600px){
    
    .produits-herobanner-titre{
        text-align: center;
        font-size: 2rem;
        line-height: 2;
        font-weight: 600;
        width: 100vw;
    }
    
    .produits-herobanner-titre span {
        font-size: 6rem;
        color: white;
        font-weight: 700;
    }

    .produits-flex{
        flex-direction: column;
    }

    .filtre-container{
        width: 100%;
    }
    
    .filtre-wrapper{
        padding: 2rem 1rem ;
    }
    
    .filtre-wrapper h2 {
        text-align: center;
    }
    
    .filtre-wrapper legend{
        font-size: 1.2rem;
        text-align: center;
    }
    
    .filtre-wrapper label{
        font-size: 1rem;
    }
    
    .filtre-wrapper input{
        margin: 0;
        margin-top: 1rem;

    }

    .filtre-wrapper fieldset{
        flex-direction: row;
        gap: 1rem;
    }

    .filtre-categorie-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}