.addproduct-item-field{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addproduct-item-field{
  font-size: 1.3rem;
}

.addproduct-item-field input, .addproduct-item-field select{
  max-width: 600px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  outline: 2px rgb(0, 0, 0) solid;
  margin-bottom: 1.5rem;
}

.addproduct-item-field textarea{
  resize: none;
  max-width: 600px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  outline: 2px rgb(0, 0, 0) solid;
  margin-bottom: 1.5rem;
}

.addproduct-price{
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.addproduct-image-flex{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.upload-button{
  width: 100px;
  margin: 1rem;
  cursor: pointer;
}

.addproduct-button{
  background-color: rgb(52, 52, 52);
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}