.navbar{
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 55px;
  padding: 5px;
  font-family: var(--Abel-font);
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 100;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 55px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.144);
  padding: 15px 60px;
}

.logo-categories-container{
  display: flex;
  align-items: center;
  gap: 3dvw;
}

.logo-container li{
  font-size: 4rem;
}

.categories-container{
  display: flex;
  gap: 3rem;
}

.categories-container li{
  position: relative;
}

.categories-container li::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background: linear-gradient(90deg, var(--Jaune-Clair) 0%, var(--Jaune-Orange) 50%, var(--Rose-Fonce) 80%, var(--Fuschia) 100%);
  width: 0;
  height: 3px;
}

.categories-container li:hover::after{
  width: 100%;
  transition: 150ms ease-in;
}

.connexion-panier-container{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menu-container{
  display: none;
}

@media(max-width: 1400px){
  .navbar{
    font-size: 1rem;
  }

  .logo-container li{
    font-size: 3rem;
  }

  .logo-categories-container{
    gap: 2dvw;
  }

  .categories-container{
    gap: 2rem;
  }
  
  .connexion-panier-container{
    gap: 2rem;
  }
}

@media(max-width: 600px){

  .desktop-nav{
    display: none;
  }

  .menu{
    position: fixed;
  }

  .menu-container{
    display: block;
  }

  .menu .burger-nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--Jaune-Orange);
    color: white;
  } 

  .burger-menu{
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 101;
  }

  .burger-bar{
    width: 2.5em;
    height: 4px;
    background: black;
    margin: 10px auto;
    z-index: 101;
  }

  .hidden{
    right: -100%;
    transition: ease-out 0.3s;
    z-index: 100;
  }

  .visible{
    right: 0;
    transition: ease-out 0.3s; 
    position: fixed;
    width: 100vw;
    z-index: 100;
  } 

  .logo-container li{
    font-size: 5rem;
  }

  .burger-bar.clicked:first-child{
    transform: rotate(45deg) ;
    transition: ease-in-out 0.2s;
  }

  .burger-bar.clicked:nth-child(2){
    display: none;
    transition: ease-in-out 0.2s;
  }

  .burger-bar.clicked:last-child{
    transform:rotate(-45deg);
    transition: ease-in-out 0.2s;
  }

  .burger-bar.unclicked {
    transform: rotate(0);
    transition: ease-in-out 0.2s;
  }

  .burger-bar.clicked{
    position: fixed;
    top: 4%;
    right: 3%;
  }

  .connexion-panier-container{
    gap: 1rem;
    flex-direction: column;
  }

}